<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
    <script>
        function checkLoginStatus(){
            var loginBtn = document.querySelector('#loginBtn');
            if(gauth.isSignedIn.get()){
                console.log('logined');
                loginBtn.value = 'Logout';
            } else {
                console.log('logouted');
                loginBtn.value = 'Login';
            }
        }
        function init() {
            console.log('init');
            gapi.load('auth2', function() {
                console.log('auth2');
                window.gauth = gapi.auth2.init({
                    client_id:'735460098978-2i4j05v3f9u5o83qspu08mgqcvbbmtls.apps.googleusercontent.com'
                })
                gauth.then(function (){
                    console.log('googleAuth success');
                    checkLoginStatus();
                }, function (){
                    console.log('googleAuth fail');
                });          //then은 보통 어떤작업이 끝난 다음
            });
        }
    </script>
    <%--<script>--%>
    <%--  function onSignIn(googleUser) {--%>
    <%--    var profile = googleUser.getBasicProfile();--%>
    <%--    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.--%>
    <%--    console.log('Name: ' + profile.getName());--%>
    <%--    console.log('Image URL: ' + profile.getImageUrl());--%>
    <%--    console.log('Email: ' + profile.getEmail()); --%>
    <%--  }--%>
    <%--</script>--%>
</head>
<body>
<input type="button" id="loginBtn" value="checking..." onclick="
    if(this.value === 'Login'){
      gauth.signIn().then(function(){
        console.log('gauth.signIn()');
        checkLoginStatus();
      });
    } else {
      gauth.signOut().then(function(){
        console.log('gauth.signOut()');
        checkLoginStatus();
      });
    }
  ">
<%--    <div class="g-signin2" data-onsuccess="onSignIn"></div>  <!--구글로그인 버튼 간편하게 추가하는 태그-->--%>
<h1><a href="index.html">WEB</a></h1>
<%--    <a href="#" onclick="signOut();">Sign out</a>--%>
<%--    <script>--%>
<%--        function signOut() {--%>
<%--            var auth2 = gapi.auth2.getAuthInstance();--%>
<%--            auth2.signOut().then(function () {--%>
<%--                console.log('User signed out.');--%>
<%--            });--%>
<%--        }--%>
<%--    </script>--%>

</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="assets/js/service-worker.js"></script>
    <script src="assets/js/wasteList.js"></script>
</body>

</html>